
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #0d0d0f;
}
html {
  background: #0d0d0f;
}
@media (max-width: 768px) {
  nav {
    padding: 14px 20px !important;
  }
}